In [1]:
!pip install git+https://github.com/jimmyyih518/PyChronoBoost --force-reinstall --no-deps

Collecting git+https://github.com/jimmyyih518/PyChronoBoost
  Cloning https://github.com/jimmyyih518/PyChronoBoost to /tmp/pip-req-build-c4naqs5n
  Running command git clone -q https://github.com/jimmyyih518/PyChronoBoost /tmp/pip-req-build-c4naqs5n
Building wheels for collected packages: PyChronoBoost
  Building wheel for PyChronoBoost (setup.py) ... done
  Created wheel for PyChronoBoost: filename=PyChronoBoost-0.1.0-py3-none-any.whl size=11257 sha256=cc6a8852ef9be85e9ef3c0d55e4e1b19d465da6950c1cbd087efbd351ca37923
  Stored in directory: /tmp/pip-ephem-wheel-cache-mn0ylc9a/wheels/60/22/da/2744e82fd188f9a4f90e188af2c0e1c0e060fa83245dd869f7
Successfully built PyChronoBoost
Installing collected packages: PyChronoBoost
  Attempting uninstall: PyChronoBoost
    Found existing installation: PyChronoBoost 0.1.0
    Uninstalling PyChronoBoost-0.1.0:
      Successfully uninstalled PyChronoBoost-0.1.0
Successfully installed PyChronoBoost-0.1.0

In [2]:
from pychronoboost.timeseries.data import TimeSeriesData
import pandas as pd

In [6]:
df = pd.DataFrame(
    {
        "timestamp": [
            "2022-01-01",
            "2022-01-02",
            "2022-01-04",
            "2022-01-05",
            "2022-01-06",
            "2022-01-10",
        ],
        "value1": [1, None, 4, 5, None, 3],
        "value2": [0, 0, 1, 1, 0, None],
        "target": [1, 2, 3, 4, 5, 6],
    }
)
display("initial data")
display(df)
ts_data = TimeSeriesData(df, "timestamp")
df_processed = ts_data.process_timeseries_features(
    ["value1", "value2"], "target", max_features=3
)
display("processed data")
display(df_processed)

'initial data'

    timestamp  value1  value2  target
0  2022-01-01     1.0     0.0       1
1  2022-01-02     NaN     0.0       2
2  2022-01-04     4.0     1.0       3
3  2022-01-05     5.0     1.0       4
4  2022-01-06     NaN     0.0       5
5  2022-01-10     3.0     NaN       6

'processed data'

   timestamp  value1  value2  target  value1_min_1  value1_min_2  value1_nth_2
0 2022-01-01     1.0     0.0     1.0           1.0           1.0           1.0
1 2022-01-02     1.0     0.0     2.0           1.0           1.0           1.0
2 2022-01-03     1.0     0.0     NaN           1.0           1.0           1.0
3 2022-01-04     4.0     1.0     3.0           4.0           1.0           1.0
4 2022-01-05     5.0     1.0     4.0           5.0           4.0           4.0
5 2022-01-06     5.0     0.0     5.0           5.0           5.0           5.0
6 2022-01-07     5.0     0.0     NaN           5.0           5.0           5.0
7 2022-01-08     5.0     0.0     NaN           5.0           5.0           5.0
8 2022-01-09     5.0     0.0     NaN           5.0           5.0           5.0
9 2022-01-10     3.0     0.0     6.0           3.0           3.0           5.0